@import "tailwindcss";
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

* {
    font-family: "Space Grotesk";
}

.toggle-menu {
    animation: toggleMenu 0.3s ease-in;
}
.untoggle-menu {
    animation: untoggleMenu 0.3s ease-out;
}
@keyframes toggleMenu {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes untoggleMenu {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}
