.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 8rem;
    grid-template-areas:
        "   nav     "
        "   main    "
        " footer ";

    @media (min-width: 810px) {
        grid-template-columns: 22rem 1fr 6rem;
        grid-template-rows: 8rem;
        grid-template-areas:
            "   nav     nav"
            "   aside   main    "
            "   footer  footer";
    }
}
nav {
    grid-area: nav;
}
aside {
    grid-area: aside;
    display: none;
    @media (min-width: 810px) {
        display: block;
    }
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
